@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Fascinate&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



.ballet-kim {
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}

.portfolio-item {
  cursor: pointer;
  margin-bottom: 1.8rem ;
}
.modal-dialog {
  max-width: 80%;
}